In [142]:
# Import packages required
import pandas as pd

In [143]:
# Import messy_data from Excel
messy_data = pd.read_excel('messy_order_data.xlsx')

# Output head of mess_data to the screen
messy_data.head()

,Order Number,Customer,Units Ordered,Price Per Unit (£s),Order Email,Client Address
0,ORDER-06,CUSTOMER-1,100,£---289,DANA.NGUYEN@CUSTOMER-1.COM,PSC 4115\nBox 7815\nAPO\nENGLAND\nAA 41945
1,ORDER-11,CUSTOMER-1,138,£---896,DANA.NGUYEN@CUSTOMER-1.COM,PSC 4115\nBox 7815\nAPO\nENGLAND\nAA 41945
2,ORDER-12,CUSTOMER-1,136,£---905,DANA.NGUYEN@CUSTOMER-1.COM,PSC 4115\nBox 7815\nAPO\nENGLAND\nAA 41945
3,ORDER-15,CUSTOMER-1,79,£---325,CHERYL.BRADLEY@CUSTOMER-1.COM,PSC 4115\nBox 7815\nAPO\nENGLAND\nAA 41945
4,ORDER-16,CUSTOMER-1,132,"£---1,058",DANA.NGUYEN@CUSTOMER-1.COM,PSC 4115\nBox 7815\nAPO\nENGLAND\nAA 41945

In [123]:
# Implement cleaning activity from previous article
messy_data['Price Per Unit (£s)'] = messy_data['Price Per Unit (£s)'].str.replace('£---|,','', regex=True).astype(float)

In [124]:
# Define a list of new variable names for the seperated data from the Client Address
address_details = ['Street','Box','County','Country','Mail Code']

# Split Client Data in to seperate columns and assign to the columns named in the list address_details in the messy_data dataframe
messy_data[address_details] = messy_data['Client Address'].str.split('\n',expand=True)

# Remove the original Client Address variable from the data
messy_data = messy_data.drop(['Client Address'],axis=1)

messy_data.head()

,Order Number,Customer,Units Ordered,Price Per Unit (£s),Order Email,Street,Box,County,Country,Mail Code
0,ORDER-06,CUSTOMER-1,100,289.0,DANA.NGUYEN@CUSTOMER-1.COM,PSC 4115,Box 7815,APO,ENGLAND,AA 41945
1,ORDER-11,CUSTOMER-1,138,896.0,DANA.NGUYEN@CUSTOMER-1.COM,PSC 4115,Box 7815,APO,ENGLAND,AA 41945
2,ORDER-12,CUSTOMER-1,136,905.0,DANA.NGUYEN@CUSTOMER-1.COM,PSC 4115,Box 7815,APO,ENGLAND,AA 41945
3,ORDER-15,CUSTOMER-1,79,325.0,CHERYL.BRADLEY@CUSTOMER-1.COM,PSC 4115,Box 7815,APO,ENGLAND,AA 41945
4,ORDER-16,CUSTOMER-1,132,1058.0,DANA.NGUYEN@CUSTOMER-1.COM,PSC 4115,Box 7815,APO,ENGLAND,AA 41945

In [125]:
messy_data['Total Order Value'] = messy_data['Units Ordered'] *  messy_data['Price Per Unit (£s)']

messy_data.head()

,Order Number,Customer,Units Ordered,Price Per Unit (£s),Order Email,Street,Box,County,Country,Mail Code,Total Order Value
0,ORDER-06,CUSTOMER-1,100,289.0,DANA.NGUYEN@CUSTOMER-1.COM,PSC 4115,Box 7815,APO,ENGLAND,AA 41945,28900.0
1,ORDER-11,CUSTOMER-1,138,896.0,DANA.NGUYEN@CUSTOMER-1.COM,PSC 4115,Box 7815,APO,ENGLAND,AA 41945,123648.0
2,ORDER-12,CUSTOMER-1,136,905.0,DANA.NGUYEN@CUSTOMER-1.COM,PSC 4115,Box 7815,APO,ENGLAND,AA 41945,123080.0
3,ORDER-15,CUSTOMER-1,79,325.0,CHERYL.BRADLEY@CUSTOMER-1.COM,PSC 4115,Box 7815,APO,ENGLAND,AA 41945,25675.0
4,ORDER-16,CUSTOMER-1,132,1058.0,DANA.NGUYEN@CUSTOMER-1.COM,PSC 4115,Box 7815,APO,ENGLAND,AA 41945,139656.0

In [126]:
# Define a list of new variable names for the seperated data from the Order Email
name_details =['First Name','Surname']

# Extract the first name and last name from the Order Email and add to messy_data
messy_data[name_details] = messy_data['Order Email'].str.split('@',expand=True)[0].str.split('.',expand=True)

messy_data.head()

,Order Number,Customer,Units Ordered,Price Per Unit (£s),Order Email,Street,Box,County,Country,Mail Code,Total Order Value,First Name,Surname
0,ORDER-06,CUSTOMER-1,100,289.0,DANA.NGUYEN@CUSTOMER-1.COM,PSC 4115,Box 7815,APO,ENGLAND,AA 41945,28900.0,DANA,NGUYEN
1,ORDER-11,CUSTOMER-1,138,896.0,DANA.NGUYEN@CUSTOMER-1.COM,PSC 4115,Box 7815,APO,ENGLAND,AA 41945,123648.0,DANA,NGUYEN
2,ORDER-12,CUSTOMER-1,136,905.0,DANA.NGUYEN@CUSTOMER-1.COM,PSC 4115,Box 7815,APO,ENGLAND,AA 41945,123080.0,DANA,NGUYEN
3,ORDER-15,CUSTOMER-1,79,325.0,CHERYL.BRADLEY@CUSTOMER-1.COM,PSC 4115,Box 7815,APO,ENGLAND,AA 41945,25675.0,CHERYL,BRADLEY
4,ORDER-16,CUSTOMER-1,132,1058.0,DANA.NGUYEN@CUSTOMER-1.COM,PSC 4115,Box 7815,APO,ENGLAND,AA 41945,139656.0,DANA,NGUYEN

In [127]:
# Contert the country variable to be a title case (i.e. capitalise the first letter of each word)
messy_data['Country'] = messy_data['Country'].str.title()

# Loop through all variables in the name_details list and convert to a title case
for var in name_details:
    messy_data[var] = messy_data[var].str.title()

# Output the head of the messy_data data fram to the screen
messy_data.head()

,Order Number,Customer,Units Ordered,Price Per Unit (£s),Order Email,Street,Box,County,Country,Mail Code,Total Order Value,First Name,Surname
0,ORDER-06,CUSTOMER-1,100,289.0,DANA.NGUYEN@CUSTOMER-1.COM,PSC 4115,Box 7815,APO,England,AA 41945,28900.0,Dana,Nguyen
1,ORDER-11,CUSTOMER-1,138,896.0,DANA.NGUYEN@CUSTOMER-1.COM,PSC 4115,Box 7815,APO,England,AA 41945,123648.0,Dana,Nguyen
2,ORDER-12,CUSTOMER-1,136,905.0,DANA.NGUYEN@CUSTOMER-1.COM,PSC 4115,Box 7815,APO,England,AA 41945,123080.0,Dana,Nguyen
3,ORDER-15,CUSTOMER-1,79,325.0,CHERYL.BRADLEY@CUSTOMER-1.COM,PSC 4115,Box 7815,APO,England,AA 41945,25675.0,Cheryl,Bradley
4,ORDER-16,CUSTOMER-1,132,1058.0,DANA.NGUYEN@CUSTOMER-1.COM,PSC 4115,Box 7815,APO,England,AA 41945,139656.0,Dana,Nguyen

In [139]:
# Read in the company data to use in the look up
company_data = pd.read_excel('company_details.xlsx')

# Print duplicate data and shape of data to the screen
print('Shape of company_data dataframe:',company_data.shape)
company_data

Shape of company_data dataframe: (5, 3)

     Customer                 Customer Name     Sales Rep
0  CUSTOMER-1       Perez, Torres and Moore     Tim Brady
1  CUSTOMER-2                 Alvarez Group   Joshua Dyer
2  CUSTOMER-3              Valencia-Sanchez  Carrie Brady
3  CUSTOMER-4  Ryan, Randolph and Armstrong  Carrie Brady
4  CUSTOMER-4  Ryan, Randolph and Armstrong  Carrie Brady

In [140]:
# Remove duplicate rows from the company_data dataframe 
# Note inplace = True, modifies the dataframe in place without having to reassign to itself
company_data.drop_duplicates(inplace=True)

# Print deduplicated data and shape of data to the screen
print('Shape of company_data dataframe:',company_data.shape)
company_data

Shape of company_data dataframe: (4, 3)

     Customer                 Customer Name     Sales Rep
0  CUSTOMER-1       Perez, Torres and Moore     Tim Brady
1  CUSTOMER-2                 Alvarez Group   Joshua Dyer
2  CUSTOMER-3              Valencia-Sanchez  Carrie Brady
3  CUSTOMER-4  Ryan, Randolph and Armstrong  Carrie Brady

In [132]:
# Merge data sets and lookup values in the messy_data and customer_data via a Ledt Join on the 'Customer' variable
clean_data = messy_data.merge(company_data, on = 'Customer')

# Print head of clean_data to the screen
clean_data.head()

,Order Number,Customer,Units Ordered,Price Per Unit (£s),Order Email,Street,Box,County,Country,Mail Code,Total Order Value,First Name,Surname,Customer Name,Sales Rep
0,ORDER-06,CUSTOMER-1,100,289.0,DANA.NGUYEN@CUSTOMER-1.COM,PSC 4115,Box 7815,APO,England,AA 41945,28900.0,Dana,Nguyen,"Perez, Torres and Moore",Tim Brady
1,ORDER-11,CUSTOMER-1,138,896.0,DANA.NGUYEN@CUSTOMER-1.COM,PSC 4115,Box 7815,APO,England,AA 41945,123648.0,Dana,Nguyen,"Perez, Torres and Moore",Tim Brady
2,ORDER-12,CUSTOMER-1,136,905.0,DANA.NGUYEN@CUSTOMER-1.COM,PSC 4115,Box 7815,APO,England,AA 41945,123080.0,Dana,Nguyen,"Perez, Torres and Moore",Tim Brady
3,ORDER-15,CUSTOMER-1,79,325.0,CHERYL.BRADLEY@CUSTOMER-1.COM,PSC 4115,Box 7815,APO,England,AA 41945,25675.0,Cheryl,Bradley,"Perez, Torres and Moore",Tim Brady
4,ORDER-16,CUSTOMER-1,132,1058.0,DANA.NGUYEN@CUSTOMER-1.COM,PSC 4115,Box 7815,APO,England,AA 41945,139656.0,Dana,Nguyen,"Perez, Torres and Moore",Tim Brady

In [138]:
# Define order of columns for outputed data
column_ordering = ['Order Number', 'Customer', 'Customer Name','Sales Rep',
                    'Units Ordered', 'Price Per Unit (£s)','Total Order Value',
                    'First Name', 'Surname','Order Email', 'Street', 'Box', 
                    'County', 'Country', 'Mail Code']

# Export clean data to excel file for analysis and processing
clean_data[column_ordering].to_excel('Clean Order Data.xlsx',index = False)